* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.col-sm-12 {
    padding: 0px !important;
    margin: 0px !important;
}

.container-fluid {
    padding: 0px !important;
    margin: 0px !important;
}

.coupon-wrapper { 
    margin-top: 100px;
    height: 100%;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

#qrcode {
    width: 100%;
    height: 100%;
}

.qrcode-img {
    display: block;
    margin: 0 auto;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}
