@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
* {
    box-sizing: border-box;
}

body {
    background: #f6d9eb;
    width: 100%;
    height: 100%;
    background-color: #f5ee9e;
}

.col-sm-12 {
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    overflow: auto;
}

.container-fluid {
    height: 100%;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

#coupon-container {
    float: left;
    position: relative;
    overflow: hidden;
}

.modal-body {
   max-height: auto;
   font-size: 13px;
   overflow-y: scroll;
   padding: 13px;
   padding-bottom: 0px;
}

#coupon-code {
    font-family: 'Roboto', sans-serif; 
}

.print-bar {
    background: #60a3dc;
    text-align: center;
}

span#instructions {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: white;
}

span#like-us-text {
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
    color: #7c7d7e;
    padding-left: 14px;
    display: inline-block;
}

.glyphicon-heart {
    color: #f22f6a;
}

.barcode-img {
    position: absolute;
    bottom: 6%;
    right: 29%;  
    height: 15%;
    background: white;
}

img {
    pointer-events: none;
    -webkit-user-select: none;
}

@media print {
    #coupon-container {
        height: 60% !important;
        width: 60% !important;
    }
}

@media (min-width:450px) {
    .coupon-img {
        width: 450px;
    }
    span#instructions {
        font-size: 15px;
    }
    span#like-us-text {
        font-size: 15px;
    }
}
