@import url('https://fonts.googleapis.com/css?family=Lato:900');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body,
html {
    height: 100%;
    background-color: #eeeeee;
    margin-top: 10px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 62px;
    color: #f27b8a;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 11px !important; 
    color: #7c7d7e;
}

.froyo-img {
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 200px;
} 

/* for iPhone 4 */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait) {
    h2 {
        font-size: 40px;
    }
    p { 
	    font-size: 11px !important; 
	}
}

@media (min-width:961px) { 
}
