{% extends 'coupon/base.html' %} {% load static %} {% load barcode_tags %} 

{% block customcss %} 
<link rel="stylesheet" type="text/css" href="{% static 'coupon/css/generate.css' %}"> 

<style>
body { 
    background-color: {{coupon.background_color}};
}

.print-bar { 
    background: {{coupon.header_bg_color}}; 
}

span#instructions { 
    color: {{coupon.header_text_color}};
}

.barcode-img {
    bottom: {{coupon.position_bottom}};
}

span#like-us-text { 
    color: {{coupon.like_text_color}};
}
</style>

{% endblock %} 

{% block content %}
<div class="container-fluid">
    <div class="row coupon-wrapper">
        <div class="col-sm-12">
            <div id="coupon-container">
                <div class="print-bar">
                    <button type="button" class="btn btn-success btn-sm btn-custom no-print" onClick="window.print();">
                        <span class="glyphicon glyphicon-print"></span> Print
                    </button>
                    <span class="no-print" id="instructions">print or present coupon on your mobile device!
                    </br></span> 
                </div>
                <div id="coupon">
                    <img class="coupon-img img-responsive" src="{{ coupon.img_url }}" alt="{{ text }}" />
                    {% bc_from_text %}  
                </div>

            </div> 
        </div>  
        
    </div>
    <!-- Creates the bootstrap modal where the image will appear -->
    <div class="modal fade no-print" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Barcode</h4>
                </div>
                <div class="modal-body">
                    <center> <img src="" id="imagepreview" style="width: 90%; height: 90%;"></center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Instructions</h4>
                </div>
                <div class="modal-body">
                    <p><strong>IMPORTANT:</strong> Barcodes are unique per household (IP Address). <b>Don't print multiple copies.</b></p> 
                    </br>
                    <p><strong>HOW IT WORKS:</strong> Print or present coupon on your smartphone and we will scan your barcode to redeem offer. <u>Every coupon barcode can only be redeemed <b>once</b></u>, but you can generate a coupon with a new barcode the next day.</p>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Yes, I understand.</button>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block customjs %}
<script>
$("body").on("contextmenu", "img", function(e) {
    return false;
});

// pop up with instructions every page refresh
$('#myModal').modal('show');

// barcode modal
$("#coupon-container").on("click", function() {
    $('#imagepreview').attr('src', $('.barcode-img').attr('src'));
    $('#imagemodal').modal('show');
}); 
</script>
{% endblock %}
