{% extends 'coupon/base.html' %}
{% load static %}

{% block customcss %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'coupon/css/redeem.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row coupon-wrapper">
	  		 <div class="col-sm-12">  
			  <div id="summary">
			    <h1>Code Redeem</h1>
			    <label id="no-transform"><strong>CODE:</strong> {{code}}</label>
			    <label><strong>START:</strong> {{started}}</label> 
			    <div class="center-buttons">
				    <label class="expired"><strong>COUPON NOT ACTIVE YET</strong></label>
				    <button class="scan-again">Scan Again</button>
			    </div>
			  </div> 
	  		 </div> 
	  	</div>
	</div>	
{% endblock %}

