{% extends 'coupon/base.html' %}
{% load staticfiles %}

{% block customcss %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'coupon/css/redeem.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row coupon-wrapper">
	  		 <div class="col-sm-12">  
			  <div id="summary">
			    <h1>Code Redeem</h1>
			    <label><strong>CODE:</strong> {{code}}</label>
			    <label><strong>CREATED:</strong> {{created}}</label>
			    <label><strong>EXPIRES:</strong> {{expires}}</label>
			    <div class="center-buttons">
				    <button class="redeem-coupon">Redeem</button>
				    <button class="cancel-coupon">Cancel</button>
			    </div>
			  </div> 
	  		 </div> 
	  	</div>
	</div>	
{% endblock %}

{% block customjs %}
	<script>
	$('.redeem-coupon').click(function(e) {
	  e.stopPropagation();
  
	  $.ajax({
	        method: "POST",
	        url: "#",
	        data: {
	            csrfmiddlewaretoken: '{{ csrf_token }}',
	            code: '{{ code }}', 
	        },
	        success: function(data, textStatus) {
	        	$('.center-buttons').html('<label class="expired"><strong>SUCCESSFULLY REDEEMED!</strong></label>');
	        },
	    }).done(function(msg) {
	        console.log("Redeemed coupon!");
	    }); 
	});
	</script>
{% endblock %}

